POSTGRES_DB=bma_db # pragma: allowlist secret
POSTGRES_USER=postgres # pragma: allowlist secret
POSTGRES_PASSWORD=qwerty123 # pragma: allowlist secret
POSTGRES_HOST=postgres # pragma: allowlist secret
POSTGRES_PORT=5432 # pragma: allowlist secret
