# Rename to django.env
DJANGO_ENV='development'
DJANGO_DEFAULT_ID="django.db.models.BigAutoField"
RAZORPAY_API_KEY=""
RAZORPAY_API_SECRETE=""
DJANGO_SECRETE_KEY=""
BOOTSTRAP_SCHEMA='localclient'
DEV_PASS="@12345"
PUBLIC_USERNAME="admin"
PUBLIC_PASSWORD="qwerty123"