DB_NAME=bma_db # pragma: allowlist secret
DB_USER=postgres # pragma: allowlist secret
DB_PASS=qwerty123 # pragma: allowlist secret
DB_HOST=localhost # pragma: allowlist secret
DB_PORT=5432 # pragma: allowlist secret
