{% extends "base/base.html" %} 
{% load static %} 

{% block extra_head %} <link rel="stylesheet" href="{% static 'css/authenticated.css' %}" /> {% endblock %} 

{% block body %}
<div class="app-layout">
  <!-- Navbar -->
  <!-- <nav class="app-navbar">
    <div class="app-navbar-brand">
      {{ data.org.name|default:"Application" }}
    </div>

    <button
      type="button"
      class="app-danger-outline-button"
      onclick="logoutUser()"
    >
      Logout
    </button>
  </nav> -->
  {% include "components/active/navbar.html" with navbar=navbar_config %}

  <!-- Protected Content -->
  <main class="app-content-container">
    {% block authenticated_body %} {% endblock %}
  </main>

  <script src="{% static 'js/base_authenticated.js' %}"></script>
</div>
{% endblock %}